/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Layout */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.navbar .nav-links ul,
.mobile-nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-links ul li,
.mobile-nav-links ul li {
  display: inline;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .mobile-nav-links {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
  }

  .mobile-nav-links ul li {
    display: block;
    margin-right: 0;
    padding: 10px;
  }
}

.main-content {
  padding: 10px;
}

/* AdminPage */
.user-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.user-item.admin {
  background-color: #f1f1f1;
}

.admin-label {
  color: red;
  margin-left: 5px;
}

.user-item-field {
  margin-bottom: 5px;
}

/* Mobile view */
@media (max-width: 768px) {
  .user-item {
    margin: 5px;
    padding: 10px;
  }
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
